.flexmaincontainer {display:flex;
                    height:100vh;
                    width:100vw;}
        nav {display:flex;
            flex-basis:100%;
            height:15%;
            gap:0.2rem;
            border-bottom: 2px solid white;
            background-color:darkblue;}
            .navchild1 {display:flex;
                        flex:60%;
                       
                        color:white;
                        justify-content:flex-start;
                         }
                       
                .navchild1 > ul   {display:flex;
                                    gap:2rem;
                                    justify-content:space-around;}
                        li:nth-child(3) {color:grey;}
                        li:nth-child(4) {color:grey;}
                        li:nth-child(5) {color:grey;}

            .navchild2 {display:flex;
                        flex:40%;
                   
                        gap:1rem;
                        margin-right:1rem;
                        align-items:center;
                        justify-content:flex-end;
                        color:white;}
                .navchild2 > input {height:2rem;
                                    width:12rem;
                                    border-radius:0.5rem;}
                .navchild2 > button {height:2rem;
                                    width:4rem;
                                    border-radius:0.5rem;
                                    background-color:black;
                                    color:white;}
                .navchild2 > button:hover {color:green;
                                            border:1px solid green;
                                            transition:0.3s;}
        .navmobile {display:flex;
                    flex-basis:100%;
                    height:20%;
                    background-color:darkblue;
                    color:white;
                    justify-content:flex-start;
                    align-items:center;
                    display:none;}
            .navmobile > ul   {display:flex;
                             gap:2rem;
                            justify-content:space-around;}

@media screen and (max-width:768px) {
.flexmaincontainer {display:flex;}
        nav {display:flex;
            flex-basis:100%;
             height:20%;
            gap:0.2rem;
            border-bottom: 2px solid white;
            background-color:darkblue;}
            .navchild1, .navchild2 {display:none;}
            .navmobile {display:block;}
}
